Dwelling stock estimates by local authority and tenure

In [1]:
from gssutils import *

In [2]:
data = pd.read_json('http://open.statswales.gov.wales/en-gb/dataset/hous0501')

In [3]:
data.head()

,odata.metadata,value,odata.nextLink
0,http://open.statswales.gov.wales/en-gb/dataset...,"{'Data': 4664.0, 'Area_Code': '512', 'Area_Ite...",http://open.statswales.gov.wales/en-gb/dataset...
1,http://open.statswales.gov.wales/en-gb/dataset...,"{'Data': 7308.0, 'Area_Code': '514', 'Area_Ite...",http://open.statswales.gov.wales/en-gb/dataset...
2,http://open.statswales.gov.wales/en-gb/dataset...,"{'Data': 4268.0, 'Area_Code': '516', 'Area_Ite...",http://open.statswales.gov.wales/en-gb/dataset...
3,http://open.statswales.gov.wales/en-gb/dataset...,"{'Data': 4141.0, 'Area_Code': '518', 'Area_Ite...",http://open.statswales.gov.wales/en-gb/dataset...
4,http://open.statswales.gov.wales/en-gb/dataset...,"{'Data': 8534.0, 'Area_Code': '520', 'Area_Ite...",http://open.statswales.gov.wales/en-gb/dataset...

In [4]:
data.head(1)['value'][0]

{'Area_Code': '512',
 'Area_ItemName_ENG': 'Isle of Anglesey',
 'Area_ItemNotes_ENG': '',
 'Area_SortOrder': '2',
 'Data': 4664.0,
 'PartitionKey': '',
 'RowKey': '0000000000000000',
 'Tenure_Code': '1',
 'Tenure_ItemName_ENG': 'Local Authority (Number)',
 'Tenure_ItemNotes_ENG': 'Prior to 2008-09 data are from the Housing Revenue Account Subsidy (HRAS) second advance form. &#10;For 2008-09 onwards, data are from the annual Social Housing Stock return from local authorities.&#10;&#10;Data has been affected by the large scale voluntary stock transfers of local authority stock to registered social landlords&#10;&#10;Excludes intermediate and other tenures not at social rents',
 'Tenure_SortOrder': '1',
 'Year_Code': '200001',
 'Year_ItemName_ENG': '2000-01',
 'Year_SortOrder': '5'}

In [5]:
table = pd.DataFrame()
for row in data.iterrows():
    da = row[1]['value']
    temp =  pd.DataFrame(da, index = [0])  
    table = pd.concat([table, temp])

In [6]:
table.reset_index(inplace = True)

In [7]:
table.drop(['index','Area_SortOrder','Area_Code','Area_ItemNotes_ENG',
             'Year_Code',            
             'Year_SortOrder',
             'Tenure_Code',
             'Tenure_SortOrder',
             'Tenure_ItemNotes_ENG',
             'RowKey',
             'PartitionKey'], axis = 1, inplace =True)

In [8]:
table.columns.values[0] = 'Value'
table.columns.values[1] = 'Geography'
table.columns.values[2] = 'Period'
table.columns.values[3] = 'Tenure'

In [9]:
table = table[['Geography','Period','Tenure','Value']]

In [10]:
table['Unit'] = 'dwellings'
table['Measure Type'] = 'Count'

In [11]:
table['Period'] = 'gregorian-interval/' + table['Period'].astype(str).str[0:4]+ '-03-31T00:00:00/P1Y'

In [12]:
table['Tenure'] = table['Tenure'].map(
    lambda x: {
        'Local Authority (Number)' : 'local-authority', 
        'Registered Social Landlord (Number)' : 'registered-social-landlord' ,
       'Owner occupied/Privately rented (Number)' : 'owner-occupied-privately-rented'
        }.get(x, x))

In [13]:
table['Geography'] = table['Geography'].map(
    lambda x: {
        'Blaenau Gwent':'W06000019',
        'Bridgend':'W06000013',
        'Caerphilly':'W06000018',
        'Cardiff':'W06000015',
        'Carmarthenshire':'W06000010',
        'Ceredigion':'W06000008',
        'Conwy':'W06000003',
        'Denbighshire':'W06000004',
        'Flintshire':'W06000005',
        'Gwynedd':'W06000002',
        'Isle of Anglesey':'W06000001',
        'Merthyr Tydfil':'W06000024',
        'Monmouthshire':'W06000021',
        'Neath Port Talbot':'W06000012',
        'Newport':'W06000022',
        'Pembrokeshire':'W06000009',
        'Powys':'W06000023',
        'Rhondda Cynon Taf':'W06000016',
        'Swansea':'W06000011',
        'Torfaen':'W06000020',
        'Vale of Glamorgan':'W06000014',
        'Wales':'W92000004',
        'Wrexham':'W06000006'
        }.get(x, x))

In [14]:
table['Value'] = table['Value'].apply(lambda x: pd.to_numeric(x, downcast='integer'))
table['Value'] = table['Value'].astype(int)

In [15]:
destinationFolder = Path('out')
destinationFolder.mkdir(exist_ok=True, parents=True)

table.to_csv(destinationFolder / ('observations.csv'), index = False)

In [16]:
table

,Geography,Period,Tenure,Value,Unit,Measure Type
0,W06000001,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,4664,dwellings,Count
1,W06000002,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,7308,dwellings,Count
2,W06000003,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,4268,dwellings,Count
3,W06000004,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,4141,dwellings,Count
4,W06000005,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,8534,dwellings,Count
5,W06000006,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,13630,dwellings,Count
6,W06000023,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,6196,dwellings,Count
7,W06000008,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,2593,dwellings,Count
8,W06000009,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,6761,dwellings,Count
9,W06000010,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,10730,dwellings,Count
10,W06000011,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,16176,dwellings,Count
11,W06000012,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,10780,dwellings,Count
12,W06000013,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,7291,dwellings,Count
13,W06000014,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,4683,dwellings,Count
14,W06000016,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,12984,dwellings,Count
15,W06000024,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,5250,dwellings,Count
16,W06000018,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,12705,dwellings,Count
17,W06000019,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,8179,dwellings,Count
18,W06000020,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,9910,dwellings,Count
19,W06000021,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,3957,dwellings,Count
20,W06000022,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,11091,dwellings,Count
21,W06000015,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,16024,dwellings,Count
22,W92000004,gregorian-interval/2000-03-31T00:00:00/P1Y,local-authority,187855,dwellings,Count
23,W06000001,gregorian-interval/2001-03-31T00:00:00/P1Y,local-authority,4564,dwellings,Count
24,W06000002,gregorian-interval/2001-03-31T00:00:00/P1Y,local-authority,7136,dwellings,Count
25,W06000003,gregorian-interval/2001-03-31T00:00:00/P1Y,local-authority,4156,dwellings,Count
26,W06000004,gregorian-interval/2001-03-31T00:00:00/P1Y,local-authority,4044,dwellings,Count
27,W06000005,gregorian-interval/2001-03-31T00:00:00/P1Y,local-authority,8390,dwellings,Count
28,W06000006,gregorian-interval/2001-03-31T00:00:00/P1Y,local-authority,13325,dwellings,Count
29,W06000023,gregorian-interval/2001-03-31T00:00:00/P1Y,local-authority,6046,dwellings,Count
...,...,...,...,...,...,...
970,W06000005,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,55499,dwellings,Count
971,W06000006,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,45501,dwellings,Count
972,W06000023,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,54442,dwellings,Count
973,W06000008,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,31050,dwellings,Count
974,W06000009,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,51633,dwellings,Count
975,W06000010,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,70754,dwellings,Count
976,W06000011,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,86809,dwellings,Count
977,W06000012,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,51347,dwellings,Count
978,W06000013,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,52030,dwellings,Count
979,W06000014,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,48999,dwellings,Count
980,W06000016,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,89109,dwellings,Count
981,W06000024,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,20047,dwellings,Count
982,W06000018,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,62147,dwellings,Count
983,W06000019,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,24089,dwellings,Count
984,W06000020,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,30158,dwellings,Count
985,W06000021,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,34356,dwellings,Count
986,W06000022,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,49958,dwellings,Count
987,W06000015,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,120896,dwellings,Count
988,W92000004,gregorian-interval/2008-03-31T00:00:00/P1Y,owner-occupied-privately-rented,1145882,dwellings,Count
989,W06000001,gregorian-interval/2009-03-31T00:00:00/P1Y,owner-occupied-privately-rented,29396,dwellings,Count
990,W06000002,gregorian-interval/2009-03-31T00:00:00/P1Y,owner-occupied-privately-rented,52116,dwellings,Count
991,W06000003,gregorian-interval/2009-03-31T00:00:00/P1Y,owner-occupied-privately-rented,49823,dwellings,Count
992,W06000004,gregorian-interval/2009-03-31T00:00:00/P1Y,owner-occupied-privately-rented,36982,dwellings,Count
993,W06000005,gregorian-interval/2009-03-31T00:00:00/P1Y,owner-occupied-privately-rented,55701,dwellings,Count
994,W06000006,gregorian-interval/2009-03-31T00:00:00/P1Y,owner-occupied-privately-rented,45711,dwellings,Count
995,W06000023,gregorian-interval/2009-03-31T00:00:00/P1Y,owner-occupied-privately-rented,54917,dwellings,Count
996,W06000008,gregorian-interval/2009-03-31T00:00:00/P1Y,owner-occupied-privately-rented,31228,dwellings,Count
997,W06000009,gregorian-interval/2009-03-31T00:00:00/P1Y,owner-occupied-privately-rented,52105,dwellings,Count
998,W06000010,gregorian-interval/2009-03-31T00:00:00/P1Y,owner-occupied-privately-rented,71387,dwellings,Count
999,W06000011,gregorian-interval/2009-03-31T00:00:00/P1Y,owner-occupied-privately-rented,87628,dwellings,Count